@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans+Condensed&family=Lexend&family=Open+Sans&family=Roboto&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lexend", sans-serif;
  margin: 3rem 4rem;
}

/* Header Styles */
header {
  align-items: center;
  background-color: #108fd827;
  border-radius: 0.5rem;
  display: flex;
  height: 130px;
  justify-content: space-between;
  margin: 3rem auto;
  padding: 1rem 2rem;
  width: 95%;
}

header h1 {
  font-size: 2.5rem;
}

header button {
  background-color: #1090d8;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  width: 6rem;
}

#btn-blog a {
  color: white;
  text-decoration: none;
}

#btn-blog a:visited {
  color: white;
}

/* Main Styles */
main {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.geometry-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

/* card-container styles */
.card-container {
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 500px;
  padding: 2.5rem 0;
  text-align: center;
  width: 400px;
}

.card-container h3 {
  margin: 2rem 0 0.5rem 0;
}

.card-container input {
  background-color: rgba(211, 211, 211, 0.507);
  border-radius: 5px;
  border: none;
  font-family: "Lexend", sans-serif;
  font-size: 1rem;
  height: 2rem;
  margin: 1rem 0;
  padding-left: 10px;
  width: 100px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.card-container input:focus {
  outline: none;
}

.text-cm {
  margin: 0 0.5rem;
}

.btn-calculate {
  background-color: #1090d8;
  border-radius: 0.5rem;
  border: none;
  color: #ffffff;
  font-family: "Lexend", sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  margin-top: 1rem;
  width: 20rem;
}

.btn-calculate:hover,
header button {
  cursor: pointer;
}

/* Area-Container Styles */
.area-container {
  border-radius: 10px;
  border: 1px solid lightgray;
  height: 500px;
  padding: 2.5rem 0;
  text-align: center;
  width: 400px;
}

.area-container h3 {
  font-size: 1.5rem;
  opacity: 0.8;
  text-decoration: underline;
}

.area-container ol {
  padding: 2rem 2.5rem;
}

.area-container ol li {
  margin-bottom: 1rem;
}

.btn-convert {
  background: #1090d8;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Lexend", sans-serif;
  padding: 0.5rem;
  scale: 0.9;
}

#value {
  margin: 0 0.5rem;
}

.fa-solid {
  color: darkred;
  font-size: 1.3rem;
  margin-left: 10px;
}

.btn-cross {
  cursor: pointer;
}

/* Blog Styles */
.blogs {
  margin: 2rem auto;
  width: 90%;
}
.blogs h1 {
  margin-bottom: 1rem;
  opacity: 0.9;
  text-align: center;
  text-decoration: underline;
}

.blogs h3 {
  opacity: 0.9;
}

/* @media for mobile-devices (simple responsive) */
@media screen and (max-width: 696px) {
  header {
    width: 95%;
  }
  header h1 {
    font-size: 2rem;
  }
  body {
    margin: 3rem auto;
  }
  main {
    flex-direction: column;
  }
  .geometry-container {
    margin: 0 auto;
    grid-template-columns: repeat(1, 1fr);
  }
  .area-container {
    margin: auto;
  }
}
/* @media for mid-device (simple responsive) */
@media screen and (min-width: 697px) and (max-width: 1280px) {
  main {
    flex-direction: column;
  }
  .geometry-container {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .area-container {
    margin: auto;
  }
}
